<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Websocket URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.monitoring.url">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Default jog step') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.monitoring.step">
        </div>
    </div>
</form>
